*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* siempre en el principio */
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.fondoDelaPagina{
    background-color: F8FAFC;

}
.imagenInicio{
    width: 20rem;
    height: 20rem;
}
.profesiones{
    text-align: center;
    padding-bottom: 3rem;
}
.areas{
    display: inline;
    text-align: center;
    padding: 3rem 3rem 3rem 3rem;
    font-size: 2rem;
}
.buscador{
    display: inline;
}
.quienesSomos{
    background-color: aquamarine;
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: 2rem;
}
.profesionalesDestacados{
    text-align: center;
    padding: 6rem 0rem 8rem 0rem;
}
.tituloProfesionalesDestacados{
    text-align: center;
    padding: 6rem 0rem 8rem 0rem;
}
.profesionalDestacado{
    text-align: center;
    display: inline;
    width: 20rem;
    height: 25rem;
}
h1{
    background-color: aquamarine;
    text-align:left;
}
.confianEnNosotrosTotalidad{
    text-align: center;
    padding: 6rem 0rem 8rem 0rem;
}
.confian{
    text-align: center;
font-size: 2.5rem;
padding: 6rem 0rem 8rem 0rem;
}
